<div id="object-data" data-object-id="{{ id }}">

    <div id="widget-working-area" class="col-8">
        <div id="widget-areas">
            {% for key,widget in widgets %}
                {{ render(controller('RiverwayCmsCoreBundle:Admin/Widget:widgetArea', {
                    sequence: key,
                    entity: widget
                })) }}
            {% endfor %}

        </div>
        <a class="add-widget-link" data-toggle="modal" data-target="#widget-types-modal">+</a>
    </div>
</div>
