<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block common_stylesheets %}
        {% include '@RiverwayCmsCore/_stylesheets.html.twig' %}
    {% endblock %}
    {% include '@RiverwayCmsCore/_javascript.html.twig' %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block riverway_cms_navbar %}{% endblock %}

<div class="container-fluid">
    <div id="main">
        {% block body %}
        {% endblock %}
    </div>
    {{ include('@RiverwayCmsCore/admin/_popup.html.twig') }}
</div>


</body>
</html>
