{% extends '@RiverwayCmsCore/admin/admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-8">
            <div class="dd" id="menu-hierarchy">
                {% include('@RiverwayCmsCore/admin/menu/_list-item.html.twig') with {'node': menu, 'menu': menu} only %}
            </div>

            <button class="btn btn-success" id="menu-saver">Save</button>
        </div>
        <div class="col-4">
            <h3>Categories</h3><br/>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a class="pull-right"
                           href="{{ path('category_add_to_menu', {'id': category.id, 'menu': menu.id}) }}">
                            <i class="fa fa-plus"></i>
                        </a>
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.dd').nestable({maxDepth: 3});
        $('#menu-saver').on('click', function (e) {
            e.preventDefault();
            $.post('{{ path('menu_rearrange', {id: menu.id}) }}',
                {menu: $('.dd').nestable('serialize')},
                function (data) {
                    alert(data.status);
                });
            return false;
        });
    </script>
{% endblock %}