<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.multiple-carousel').on('slide.bs.carousel', function (e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var uniqueId = $(this).attr('id');
            var totalItems = $('#' + uniqueId + ' .carousel-item').length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {

                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $('#' + uniqueId + ' .carousel-item').eq(i).appendTo('#' + uniqueId + ' .carousel-inner');
                    }
                    else {
                        $('#' + uniqueId + ' .carousel-item').eq(0).appendTo('#' + uniqueId + ' .carousel-inner');
                    }
                }
            }
        });
    });
    $('.admin-modal').on('show.bs.modal', function (e) {
        var link = $(e.relatedTarget);
        var loaderPath = "{{ asset('bundles/riverwaycmscore/img/loader.gif') }}";
        var preloaderContent = '<div style="text-align: center">'
            + '<img id="modal-loader" src=' + loaderPath + '>'
            + '</div>';
        $(".admin-modal .modal-body").html(preloaderContent);
        $.get(link.attr('href'), function (data) {
            $(".admin-modal .modal-body").html(data);
            e.stopPropagation();
        });
    });
</script>
</script>