<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block common_stylesheets %}
        {% include '@RiverwayCmsCore/_stylesheets.html.twig' %}
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block riverway_cms_navbar %}
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="nav-item nav-link">Logged in</li>

        {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item nav-link">
                <a href="{{ path('article_index') }}">
                    | Admin
                </a>
            </li>

        {% endif %}

    {% else %}
        <li class="nav-item nav-link">
            <a href="{{ path('login') }}">Log in</a>
        </li>
    {% endif %}
    </ul>
{% endblock %}

<div class="container-fluid">
    <div id="main">
        {% block body %}
        {% endblock %}

    </div>
</div>
{% include '@RiverwayCmsCore/_javascript.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
