{% extends '@RiverwayCmsCore/article.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content-wrapper">
            {% if article.slider %}
                {% include('RiverwayCmsCoreBundle:templates/common:_slider.html.twig') %}
            {% endif %}

            {% include('RiverwayCmsCoreBundle:templates/common:_content.html.twig') %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    Full width template
{% endblock %}