{% extends '@RiverwayCmsCore/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">

            </div>
        </div>
    </div>
{% endblock %}