@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~fontawesome-iconpicker/dist/css/fontawesome-iconpicker.css";
@import '~dragula/dist/dragula.css';
@import '~select2/dist/css/select2.css';
@import "vendor/font-awesome/css/font-awesome.css";
@import '~summernote/dist/summernote-bs4.css';
@import 'mixins';
@import "vendor/colorselector/colorselector.css";

body {
  .admin-modal .close {
    text-align: right;
    margin-right: 4px;
  }

  .tab-pane {
    margin-top: 40px;
  }

  #main {
    padding: 20px;

    form {
      & > div {
        margin-bottom: 20px;
      }
      label {
        display: block;
        font-weight: bold;
        padding-bottom: 4px;
      }
      input, button {
        padding: 8px;
      }
    }

    .action-bar {
      &.widget-action-bar {
        float: right;
      }
      &.grid-action-bar {
        float: left;
      }
      margin-bottom: 0;
      a {
        display: inline-block;
        font-size: large;
      }
    }
  }

  #widget-areas {
    padding: 8px;
    border: 4px dashed #E0E0E0;
    .widget-area {
      background-color: #f8f8f8;
      margin: 8px;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(0,0,0,.125);

      .widget-header {
        padding: 8px 16px;
        border-bottom: 1px solid rgba(0,0,0,.125);
      }

      .modal-link {
        display: inline-block;
        float: right;
        cursor: pointer;
        margin-left: 8px;
      }

      .widget-content {
        color: #6E6E6E;
        margin-bottom: 0px;
      }

      .delete-widget-link {
        display: inline-block;
        float: right;
        cursor: pointer;
        margin-left: 8px;
      }
    }
  }

  .note-editor.note-frame, .card {
    border: none;
  }

  .modal {
    display: none;
  }

  .add-widget-link {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f8f8f8;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }

  .left-sidebar {
    float: left;
    padding: 8px 16px;
    background-color: #868686;
    display: inline-block;
  }

  .right-sidebar {
    float: right;
    padding: 8px 16px;
    background-color: #868686;
    display: inline-block;
  }

  .content-wrapper {
    padding: 8px 16px;
    display: inline-block;
    width: 60%;
  }

  #footer {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
  }

  .bg-primary {
    background-color: #868686;
  }

  .admin-preview {
    width: 30%;
  }

  #menu-hierarchy {
    margin-bottom: 24px;
  }

  .iconpicker-container {
    .fade {
      opacity: 1;
    }
  }

  .range output {
    vertical-align: top;
    margin-left: 16px;
    margin-top: 2px;
  }

  .slider-preview-img {
    box-sizing: border-box;
    display: block;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .slide-preview-header {
    font-size: 30px;
    line-height: 32px;
    margin: 0 auto 2px;
  }

  .slide-preview-subheader {
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto 13px;
  }

  .slide-preview-description {
    margin: 0 auto 15px;
    font-size: 7px;
  }

  .slide-preview-button {
    border: none;
    border-radius: 2px;
    font-size: 7px;
    padding: 4px 12px;
  }

  #slider {
    clear: both;
    margin-bottom: 20px;
  }

  .slide {
    box-sizing: border-box;
    display: block;
    width: 1000px;
    height: 500px;
    padding: 0px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

//COMPONENTS
@import './components/nestable';
@import './components/multiple-carousel';
@import './components/file-manager';