{% extends '@RiverwayCmsCore/admin/admin_base.html.twig' %}

{% block body %}
    <a class="btn btn-outline-primary"
       href="{{ path('sidebar_create') }}"
       data-toggle="modal"
       data-target="#admin-modal">Create</a>
    <br/>
    <br/>

    <ul class="list-group">
        {% for sidebar in sidebars %}
            <li class="list-group-item">
                <a href="{{ path('sidebar_edit', {'id': sidebar.id}) }}">{{ sidebar.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}