{% extends '@RiverwayCmsCore/article.html.twig' %}

{% block body %}
    <div class="container">
        {% if article.slider %}
            {% include('RiverwayCmsCoreBundle:templates/common:_slider.html.twig') %}
        {% endif %}

        {% if sidebar %}
            <div class="right-sidebar">
                {% include('@RiverwayCmsCore/templates/common/_sidebar.html.twig') %}
            </div>
        {% endif %}
        <div class="content-wrapper">
            About our testimonials:
            {% include('RiverwayCmsCoreBundle:templates/common:_content.html.twig') %}
        </div>
    </div>
{% endblock %}
